/* styles.css */
.cube-container {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  perspective: 1000px;
}

.cube {
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s linear;
  width: 200px;
}

.face {
  align-items: center;
  background-color: #e0e0e0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 200px;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 200px;
}

.front {
  background-color: #f8cc0f;
  transform: translateZ(100px);
}

.back {
  background-color: #53bdeb;
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  background-color: #4db849;
  transform: rotateY(-90deg) translateZ(100px);
}

.left {
  background-color: #e8483f;
  transform: rotateY(90deg) translateZ(100px);
}

.top {
  background-color: #000;
  transform: rotateX(90deg) translateZ(100px);
  color: white;
}

.bottom {
  background-color: blueviolet;
  transform: rotateX(-90deg) translateZ(100px);
}

form.input-container {
  display: flex;
  justify-content: center;
}

.input-container {
  text-align: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

.answer-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.reset {
  display: block;
}

.reset .icon {
  transition: 750ms transform linear;
  transform: rotate(0deg);
}

.reset .icon:hover {
  transform: rotate(30deg);
}

/* stopwatch timer */
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.timer {
  position: absolute;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

svg {
  width: 60px;
  height: 60px;
  top: -30px;
  left: -30px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 8px;
  stroke: #007bff;;
  fill: none;
  animation: countdown 15s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

/* The modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Apply button */
#applySettingsButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

#applySettingsButton:hover {
  background-color: #0056b3;
}

/* Responsiveness - adjust the modal width for smaller screens */
@media screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}

#settingsButton {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}